.UserProfile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 20px auto;
  align-items: center;
}

.profile-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-info p {
  margin: 10px 0;
}

.UserProfile h3,
.UserProfile h1 {
  /* margin-bottom: 15px; */
  text-align: center;
}

/* .UserProfile header{
  display:flex;
}
.UserProfile h1 {
}

img.backArrow {
  width: 50px;
  height: auto;
  object-fit: contain;
} */